# System
HOSTNAME=localhost
APACHE_HTTPS_PORT=443

# DERIVA
ERMREST_ADMIN_GROUP=deriva-admin
HATRAC_ADMIN_GROUP=deriva-admin
INCLUDE_TESTDB=true

# Postgres
POSTGRES_HOST=deriva-postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ERMREST_PASSWORD=ermrest
POSTGRES_HATRAC_PASSWORD=hatrac
POSTGRES_WEBAUTHN_PASSWORD=webauthn
POSTGRES_CREDENZA_PASSWORD=credenza
POSTGRES_DERIVA_PASSWORD=deriva

# Credenza (Auth)
OKTA_HOST=<okta-account-id>.okta.com
OKTA_CLIENT_ID=<okta-client-id>
OKTA_CLIENT_SECRET=<okta-client-secret>
